@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-1 {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
.scrollbar-2 {
  scrollbar-color: #404040 transparent;
}
@media (min-width: 1024px) {
  .box-shadow-style-1-lg {
    box-shadow: 2px 2px 10px black;
  }
}
